$bg-color: #e6e6e6;
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$done-color: #22bb33;
$undone-color: #aaaaaa;

body {
    background-color: $bg-color;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-container {
    width: 50%;
    min-height: 50vh;
    padding: 48px;
    background-color: white;
    box-shadow: $card-shadow;
}

.header {
    display: flex;
    justify-content: space-between;
}
.todo {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    
    &-title {
        font-size: 24px;
        font-weight: 500;
        margin: 0;

        &.done {
            color: lightgray;
        }
    }
    &-status {
        padding: 15px;
        background-color: $undone-color;
        border-radius: 50%;

        &.done {
            background-color: $done-color;
        }
    }
}
.todo-input {
    input {
        padding: 8px;
        border-radius: 5px;
        border: 3px solid $done-color;
        min-width: 60px;
    }
    .add-button {
        margin-left: 16px;
        padding: 10px 48px;
        border: none;
        background-color: $done-color;
        border-radius: 5px;
        cursor: pointer;
        color: white;
    }
}